<h1>{{user.first_name}}'s Beer</h1>

<ul>
    {{# each arrayOfTypeBeer}}
    <div class='beverage-container'>
        <li>
            <div>Name: <a href="/users/{{../user._id}}/beverages/{{_id}}">{{this.name}}</a></div>
            <div>Type: {{this.type}}</div>
            <div>Consumption Date: {{this.drinkDate}}</div>
            <div>Style: {{this.style}}</div>
            <div>Price: ${{this.price}}</div>
            <div>Rating Out of 5: {{this.rating}}</div>
            <div>Drinkable: {{this.drinkable}}</div>
            <div>Comments: {{this.comments}}</div>
        </li>
    </div>
        <br>
    {{/ each}}
</ul>
   <a href="/users/{{userId}}/beverages/new"> <input type='button' value="Add A New Beer" class="btn btn-default, dropdown-toggle"></button></a>
   <a href="/users/{{userId}}/beverages"> <input type='button' value="Cancel" class="btn btn-danger, , dropdown-cancel"></button></a>
