<h1>Edit {{beverageToEdit.name}}</h1>

<form method="POST" action="/users/{{userId}}/beverages/{{beverageId}}?_method=PUT">
    Name: <input type="text" name="name" value="{{beverageToEdit.name}}"><br>
    Type:  Type: <input type="radio" name="type" value="Beer">Beer<input type="radio" name="type" value="Wine">Wine<input type="radio" name="type" value="Spirit">Spirit<br> 
    Consumption Date: <input type="date" name="drinkDate" value="{{beverageToEdit.drinkDate}}"><br>
    Style: <input type="text" name="style" value="{{beverageToEdit.style}}"><br>
    Price: $<input type="text" name="style" value="{{beverageToEdit.price}}"><br>
    Rating Out of 5: <input type="radio" name="rating" value="1">1<input type="radio" name="rating" value="2">2<input type="radio" name="rating" value="3">3<input type="radio" name="rating" value="4">4<input type="radio" name="rating" value="5">5<br>
    Drinkable: <input type="radio" name="drinkable" value="Yes">Yes<input type="radio" name="drinkable" value="No">No<br>
    Comments: <input type="text" name="comments" value="{{beverageToEdit.comments}}"><br><br>
    <input type="submit" value="SUBMIT"></form>
    <br>
    <form action="/users/{{userId}}/beverages/{{beverageId}}"><input type="submit" value="CANCEL"></form>
    <br>
    <form action="/users/{{userId}}/beverages/{{beverageId}}?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" class="btn btn-danger"/></form>