<form class='form, new-beverage' method="POST" action="/users/{{userId}}/beverages/{{beverageId}}?_method=PUT">
    <h1>Edit {{beverageToEdit.name}}</h1>
    <br>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" required autocomplete="false" required class="form-control" name="name" value="{{beverageToEdit.name}}"
        />
        <br>
        <label>Style:</label>
        <input type="text" autocomplete="false" class="form-control" name="style" value="{{beverageToEdit.style}}" />
        <br>
        <label>Consumption Date:</label>
        <input type="date" required class="form-control" name="drinkDate" value="{{drinkDateFormattedForForm}}" />
        <br>
        <label>Price:</label>
        <div class="form-group">
            <label class="sr-only" autocomplete="false">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" name="price" class="form-control" id="price" value="{{beverageToEdit.price}}">
            </div>
        </div>
        <br>
        <label>Rating: Out of 5</label>
        <input type="number" autocomplete="false" class="form-control" name="rating" value="{{beverageToEdit.rating}}" />
        <br>
        <label>Comments</label>
        <input type="text" autocomplete="false" class="form-control" name="comments" value="{{beverageToEdit.comments}}" />
        <br>
    </div>
    <input type="submit" class="btn btn-default, dropdown-toggle"></button>
    <a href="/users/{{userId}}/beverages/{{beverageId}}"> <input type='button' value="Cancel" class="btn btn-danger, cancel-button"></button></a>
</form>
<br>