<form method="POST" action="/users/{{userId}}/beverages">
    Name: <input type="text" name="name" value="{{beverages.name}}"><br>
    Type: <input type="text" name="type" value="{{beverages.type}}"><br>
    Consumption Date: <input type="drinkDate" name="first_name" value="{{beverages.drinkDate}}"><br>
    Rating Out of 100: <input type="rating" name="first_name" value="{{beverages.rating}}"><br>
    Drinkable (Yes/No): <input type="drinkable" name="last_name" value="{{beverages.drinkable}}"><br>
    Comments: <input type="text" name="comments" value="{{beverages.comments}}"><br><br>
    <input type="submit">
</form>
