<div class='show-beverage-container'>
    <h1>{{beverageToView.name}}</h1>

    <div>Type: {{beverageToView.type}}</div>
    <div>Consumption Date: {{beverageToView.drinkDate}}</div>
    <div>Style: {{beverageToView.style}}</div>
    <div>Price: ${{beverageToView.price}}</div>
    <div>Rating Out of 5: {{beverageToView.rating}}</div>
    <div>Drinkable: {{beverageToView.drinkable}}</div>
    <div>Comments: {{beverageToView.comments}}</div>
    <br>
     <a href="/users/{{user.id}}/beverages/{{beverageId}}/edit"> <input type='button' value="Edit This Beverage" class="btn btn-danger, dropdown-toggle"></button></a>
    <a href="/users/{{user.id}}/{{beverageToView.type}}/"> <input type='button' value='Go Back to {{beverageToView.type}}' class="btn btn-danger, dropdown-cancel"></button></a>
</div>

