<div>
    <h1>{{beverageToView.name}}</h1>

    <div>Type: {{beverageToView.type}}</div>
    <div>Consumption Date: {{beverageToView.drinkDate}}</div>
    <div>Style: {{beverageToView.style}}</div>
    <div>Price: ${{beverageToView.price}}</div>
    <div>Rating Out of 5: {{beverageToView.rating}}</div>
    <div>Drinkable: {{beverageToView.drinkable}}</div>
    <div>Comments: {{beverageToView.comments}}</div>
    <br>
    <div><a href="/users/{{user.id}}/beverages/{{beverageId}}/edit">Edit This Beverage</a></div>
    <br>
    <div><a href="/users/{{user.id}}/beverages/">Go Back to Beverages</a></div>
</div>

