<div>
    <h1>{{beverageToView.name}}</h1>

    <div>Type: {{beverageToView.type}}</div>
    <div>Consumption Date: {{beverageToView.drinkDate}}</div>
    <div>Rating Out of 100: {{beverageToView.rating}}</div>
    <div>Drinkable (True/False): {{beverageToView.drinkable}}</div>
    <div>Comments: {{beverageToView.comments}}</div>
    <br>
    <div><a href="/users/{{user.id}}/beverages/{{beverageId}}/edit">Edit This Beverage</a></div>
    <br>
    <div><a href="/users/{{user.id}}/beverages/">Go Back to Beverages</a></div>
</div>

