<h1>Users</h1>

<ul>
    {{# each userList}}
        <li>
            <div><a href="/users/{{_id}}">
            <div>Name: {{first_name}}  {{last_name}}</div>
            <div>Email: {{email}}</div>
            <div>User Since: {{created_at}}</div>
            </a></div>
        </li>
        <br>
    {{/ each}}
</ul>

<div><a href="/users/new">Create a New User</a></div>