 <div class='beverage-container'>
    <h1>{{user.first_name}} {{user.last_name}}</h1>

    <div>Email: {{user.email}}</div>
    
      <br>
      <a href="/users/{{user.id}}/beverages/"> <input type='button' value="Go To Drinkable" class="btn btn-lg btn-default"></button></a>
      <br>
      <br>
    
      <a href="/users/edit/{{user.id}}"> <input type='button' value="Edit {{user.first_name}}" class="btn btn-default"></button></a>
      <a href="/users/"> <input type='button' value="Back To User Selection" class="btn btn-default"></button></a>
</div>