<div>
    <h1>{{user.first_name}} {{user.last_name}}</h1>

    <div>Email: {{user.email}}</div>
      <br>
        <div><a href="/users/{{user.id}}/beverages/">Go To Drinkable</a></div>
      <br>
        <div><a href="/users/edit/{{user.id}}">Edit This User</a></div>
      <br>
        <div><a href="/users/delete/{{user.id}}">Delete User</a></div>
      <br>
        <div><a href="/users">Back to Users</a></div>
</div>